/* Your code starts here! */

body {
	transition: all .5s;
	font-family: 'Audiowide', cursive;
	margin: auto;
}

.box {
	width: 1200px;
	margin: auto;
}

ul,
li,
nav,
.header-content header img {
	display: inline-block;
	transition: all .5s;
}

.navbar {
	background: #3f1771;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	z-index: 1000;
	box-shadow: 0 0 2rem 2rem rgba(0, 0, 0, .75);
	border-bottom: 2px dashed #0f0;
	transition: all .5s;
}

li {
	margin: 0px 75px 0px -18px;
	transition: all .5s;
}

img.logo {
	transition: all 1s;
	cursor: pointer;
	position: relative;
	top: 10px;
	transition: all .5s;
}
}

img.logo:hover {
	transform: scale(1.1);
	transition: all 1s;
}

img.logo:active {
	filter: blur(0) invert(1);
	transform: scale(1.025);
	transition: all 1s;
}

nav li a {
	color: #fff;
	text-decoration: none;
	transition: color 2s ease;
}

nav li a:hover {
	color: #00ff00;
	text-decoration: underline;
	transition: color 2s ease;
}

.header-content {
	margin: 2em 0 -3.5em;
}

.header-left,
.header-right {
	display: inline-block;
	width: 49%;
	padding: 2em;
	transition: all .5s;
}

.header-right {
	background-image: url(../img/header-img.png);
	background-repeat: no-repeat;
	background-attachment: local;
	width: 379px;
	height: 379px;
	transition: all .5s;
}

.header-left {
	text-align: center;
	transition: all .5s;
}

.header-text h1 {
	font-size: 6em;
	margin-bottom: 3rem;
	transition: all .5s;
}

button {
	cursor: pointer;
	background: #fff;
	border: 1px solid #000;
	padding: .55em 4em;
	transition: background ease .5s, transform ease .5s;
}

button:hover {
	background: #ccc;
	transform: scale(1.1);
	transition: background ease .5s, transform ease .5s;
}

button:active {
	background: #000;
	color: #fff;
	transform: scale(.9);
	transition: background ease .5s, transform ease .5s, color ease .5s;
}

article {
	display: inline-block;
	max-width: 29%;
	text-align: left;
	padding: 3em 1em;
	transition: all .5s;
}

section.first article {
	max-width: 46%;
	transition: all .5s;
}

.img-break {
	background: url(../img/mid-page-accent.jpg);
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: contain;
	height: 12em;
	margin: 0 5%;
	transition: all .5s;
}

footer h4,
footer span,
footer span a {
	text-align: left;
	display: block;
	color: #000;
	text-decoration: none;
	font-size: initial;
	transition: color 2s ease;
}

footer span a:hover {
	color: silver;
	text-decoration: underline;
	transition: color 2s ease;
}

footer .copyright {
	position: relative;
	top: 2..5em;
	font-size: 12px;
	transition: all .5s;
}

footer {
	text-align: center;
	display: block;
	transition: all .5s;
}

@media only screen and (max-width: 500px) {
	body {
		float: left;
		margin: auto;
		overflow-x: hidden;
		transition: all .5s;
	}

	.header-left,
	.header-right {
		display: block;
		width: 85%;
		transition: all .5s;
	}

	.header-text h1 {
		font-size: 3rem;
		margin: 2em 0;
		text-align: center;
		transition: all .5s;
	}

	.header-content {
		margin: 0;
		transition: all .5s;
	}

	.box {
		width: 100%;
		margin: auto;
		transition: all .5s;
	}

	button {
		position: relative;
		top: -4em;
		transition: all .5s;
	}

	.header-right {
		position: relative;
		left: 3em;
		transition: all .5s;
	}

	article {
		width: 100%;
		margin: auto;
		display: block;
		max-width: 100%;
		transition: all .5s;
	}

	section.first article {
		max-width: 100%;
		transition: all .5s;
	}

	footer {
		margin: auto 0%;
		padding: 2em;
		transition: all .5s;
	}

	.copyright {
		margin-top: 2em;
		transition: all .5s;
	}

	p {
		width: 90%;
		transition: all .5s;
	}

	img.logo {
		display: none;
		transition: all .5s;
	}

	ul li {
		position: relative;
		transition: all .5s;
		top: -.5em;
		transition: all .5s;
	}

	.img-break {
		height: 6rem;
	}

}